header {
  background-color: black;
  color: white;
  text-align: center;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    overflow: hidden;
    height: 80px; /* Set the height of the banner */
    box-sizing: border-box;
}

#main-menu ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color fade */
}

a:hover {
  color: #999999; /* grey on hover */
}

a.active {
  color: #999999; /* Same grey as hover */
  pointer-events: none; /* Optional: disables clicking on current page */
}

#social-bar { 
      list-style: none;
    display: flex;
    gap: 1.0rem;
    align-items: center;
    justify-content: center;
}

.banner-item {
  border: solid white bold;
}
#banner-logo {
    width: 10%; /* Adjust size as needed */
    height: auto;
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}
